nav {
  display: flex;
  justify-content: center;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(132, 160, 198, .1);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 10px 20px;
  column-gap: 32px;
}

.punc-buttons, .time-buttons, .mode-buttons {
  display: flex;
  column-gap: 10px;
}

.nav-btn {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: .3s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.nav-btn:hover {
  color: #84a0c6;
}