.words-component {
  padding: 20px 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  user-select:none;
}

.words-component > h1 {
  color: #fff;
  font-size: 2.4rem;
  text-align: center;
}
  
.word {
  padding: 10px 4px;
  border-radius: 2px;
}

.word > span {
  font-size: 1.8rem;
}

.type-box {
  height: 100px;
  overflow: hidden;
  background: rgba(0, 0, 0, .3);
}

.words-list {
  transition: transform 0.3s ease-in-out;
}

.moved-up {
  transform: translateY(-36px);
}